{% extends 'home.html' %}

{% block libs %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

{% endblock libs %}

{% block content %}

<div class="container">
    <div class="col-md-6 mx-auto">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{titulo}}</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="col">
                    <a href="{% url 'tareas:tareas' %}" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Crear nueva tarea" class="btn btn-success float-right">
                  </div>
            </form>
        </div>
      </div>
        
    </div>
</div>
    

{% endblock content %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );

  flatpickr(".date", {
    "locale": {
      firstDayOfWeek: 1,
      weekdays: {
        shorthand: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
        longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],         
      }, 
      months: {
        shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Оct', 'Nov', 'Dic'],
        longhand: ['Enero', 'Febrero', 'Мarzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      },
    },
  })

</script>

{% endblock js %}