{% extends 'home.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6 mx-auto">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Editar usuario</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
              <!--  {% for campo in form %}
                <div class="form-group">
                  <label for="inputNombre">{{campo.label}}</label>
                  <input type="{{campo.field.widget.input_type}}" value="{{campo.value}}" class="form-control" required>
                </div>
                
                {% endfor %}

                <div class="form-group">
                  <label for="inputNombre">{{campo.label}}</label>
                  <select class="form-control" id="select" select>
                    
                    {% for tipo in tipos %}
                      {% if tipo == usuario.id_tipo_usuario %}
                        <option selected value="{{usuario.id_tipo_usuario}}">{{usuario.id_tipo_usuario.tipo}}</option>
                      {% else %}
                        <option value="{{tipo}}">{{tipo.tipo}}</option>
                      {% endif %}
                    {% endfor %}

                  </select>
                </div>
                -->
                <div class="col">
                    <a href="{% url 'app:usuarios' %}" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Guardar" class="btn btn-success float-right">
                  </div>
            </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
        
    </div>
    </div>
    

{% endblock content %}

{% comment %} <form method="POST">
{% csrf_token %}
Nombre: {{form.nombre}}
<br>
Apellido Paterno: {{form.apellidoPaterno}}
<br>
Apellido Materno: {{form.apellidoMaterno}}
<button type="submit">Agregar</button>
</form> {% endcomment %}