/* .sidebarPrincipal{
    background-color: #0D3965;
} */

ul .nav-blanco{
    color: white;
}

#buscador {
    background-color: rgb(0, 0, 0);
}

/* .contentPrincipal{
    background-color: #FFF9EE;
} */
