{% extends 'home.html' %}

{% block content %}

{% block libs %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

{% endblock libs %}

<div class="container">
    <div class="col-md-6 mx-auto">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Crear nueva evaluacion</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
              <div class="col">
                  <a href="{% url 'evaluacion:evaluaciones' %}" class="btn btn-secondary">Cancelar</a>
                  <input type="submit" value="Guardar" class="btn btn-success float-right">
              </div>
            </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
        
    </div>
</div>
    


{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>

  $( function() {
    $( ".datepicker" ).datepicker();
  } );

  flatpickr(".date", {
    "locale": {
      firstDayOfWeek: 1,
      weekdays: {
        shorthand: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
        longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],         
      }, 
      months: {
        shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Оct', 'Nov', 'Dic'],
        longhand: ['Enero', 'Febrero', 'Мarzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      },
    },
  })

  function loadingButton() {
    let timerInterval
    Swal.fire({
      title: 'Cargando',
      html: 'Enviando correo al usuario para creación de contraseña',
      timer: 2000,
      timerProgressBar: true,
      didOpen: () => {
        Swal.showLoading()
        const b = Swal.getHtmlContainer().querySelector('b')
        timerInterval = setInterval(() => {
          b.textContent = Swal.getTimerLeft()
        }, 100)
      },
      willClose: () => {
        clearInterval(timerInterval)
      }
    }).then((result) => {
      /* Read more about handling dismissals below */
      if (result.dismiss === Swal.DismissReason.timer) {
        console.log('I was closed by the timer')
      }
    })
  }
</script>


{% endblock js %}

{% comment %} <form method="POST">
{% csrf_token %}
Nombre: {{form.nombre}}
<br>
Apellido Paterno: {{form.apellidoPaterno}}
<br>
Apellido Materno: {{form.apellidoMaterno}}
<button type="submit">Agregar</button>
</form> {% endcomment %}