{% extends 'home.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6 mx-auto">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Crear nueva evaluacion</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <!--<div class="form-group">
                    <label for="inputNombre">Nombre</label>
                    {{form.nombre}}
                </div>
                <div class="form-group">
                    <label for="inputApellidoP">Apellido Paterno</label>
                    {{form.apellido_paterno}}
                </div>
                <div class="form-group">
                    <label for="inputApellidoM">Apellido Materno</label>
                    {{form.apellido_materno}}
                </div>
                <div class="form-group">
                    <label for="inputFono">Fono</label>
                    {{form.fono}}
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    {{form.email}}
                    <ul>
                    {% for error in form.email.errors %}
                      <div class="text-danger">
                        <li>{{error}}</li>
                      </div>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    <label for="inputTipo">Tipo de usuario</label>
                    {{form.tipo}}
                </div>-->
              <div class="col">
                  <a href="{% url 'app:evaluacion/evaluacion_list' %}" class="btn btn-secondary">Cancelar</a>
                  <input type="submit" value="Crear nuevo usuario" class="btn btn-success float-right">
              </div>
            </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
        
    </div>
</div>
    


{% endblock content %}

{% block js %}


<script>
  function loadingButton() {
    let timerInterval
    Swal.fire({
      title: 'Cargando',
      html: 'Enviando correo al usuario para creación de contraseña',
      timer: 2000,
      timerProgressBar: true,
      didOpen: () => {
        Swal.showLoading()
        const b = Swal.getHtmlContainer().querySelector('b')
        timerInterval = setInterval(() => {
          b.textContent = Swal.getTimerLeft()
        }, 100)
      },
      willClose: () => {
        clearInterval(timerInterval)
      }
    }).then((result) => {
      /* Read more about handling dismissals below */
      if (result.dismiss === Swal.DismissReason.timer) {
        console.log('I was closed by the timer')
      }
    })
  }
</script>


{% endblock js %}

{% comment %} <form method="POST">
{% csrf_token %}
Nombre: {{form.nombre}}
<br>
Apellido Paterno: {{form.apellidoPaterno}}
<br>
Apellido Materno: {{form.apellidoMaterno}}
<button type="submit">Agregar</button>
</form> {% endcomment %}