{% extends 'home.html' %}

{% load static %}

{% block libs %}

  <!-- summernote -->
  <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/summernote/summernote-bs4.min.css' %}">
  <!-- SimpleMDE -->
  <link rel="stylesheet" href="../../plugins/simplemde/simplemde.min.css">
  <!-- CodeMirror -->
  <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/codemirror/codemirror.css'%}">
  <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/codemirror/theme/monokai.css'%}">

  <style type="text/css">
    .commentsts{
      margin: 15px;
    }

    .comment-body{
      margin: 10px;
    }
  </style>

{% endblock libs %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{foro.titulo}}</h3>
        </div>
        <div class="card-body border rounded commentsts">
            {{foro.descripcion | safe}}
        </div>

    </div>

    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="col">
                    <a href="{% url 'foro:foro_details' foro.id %}" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Enviar respuesta" class="btn btn-success float-right">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}

<!-- Summernote -->
<script src="{% static 'lib/adminlte-3.2.0/plugins/summernote/summernote-bs4.min.js' %}"></script>

<script>
    $(function () {
      // Summernote
      $('#summernote').summernote({
        height: 200,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link']],
        ],
  
      })
  
      // CodeMirror
      CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
        mode: "htmlmixed",
        theme: "paper"
      });
    })
  </script>

{% endblock js %}

