
{% extends 'home.html' %}

{% load static %}

{% block libs %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
{% endblock %}

{% block content %}

<div class="container-xl">

    <div class="row">
      <div class="col-md-12 mx-auto">

        <div class="card d-flex align-items-center">
          <h1 class="p-2 text-center titulo-seccion">Fecha: {{titulo}}</h1>
        </div>

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Resumen de puntajes</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Fecha Clase</th>
                {% for c in columnas %}
                <th>{{c}}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
                {% if filas %}
                  {% for f,usuarioasistencia__tipo_asistencia__puntaje, puntajeList, puntajeEv in filas %}

                    <tr>
                        <td>{{f | date:"d/m/Y"}}</td>
                        <td class="text-center"> 
                          {% if usuarioasistencia__tipo_asistencia__puntaje %} 
                            {{usuarioasistencia__tipo_asistencia__puntaje}}
                          {% else %}
                            0
                          {% endif %} 
                        </td>

                      {% for p in puntajeList %}

                        <td class="text-center">{% if p %} {{p}} {% else %} 0 {% endif %}</td>
                      {% endfor %}

                        <td class="text-center">{{puntajeEv}}</td>

                    </tr>
                  {% endfor %}

                {% else %}

                    {% for nombre,apellido_paterno,apellido_materno,puntaje_id__puntaje in alumnosEv %}
                    <tr>
                      <td>{{nombre}} {{apellido_paterno}} {{apellido_materno}}</td>
                          <td class="text-center"> 
                            {% if puntajeEv %} 
                              {{puntajeEv}}
                            {% else %}
                              0
                            {% endif %} 
                      </td>
                    </tr>
                    {% endfor %}

                {% endif %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->

{% endblock %}


{% block js %}
<!-- DataTables  & Plugins -->
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/jszip/jszip.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Page specific script -->

<script>

  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "ordering": true,
      "language": {
        "processing":     "Procesando...",
        "infoEmpty":      "Mostrando 0 a 0 de 0 registro",
        "infoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "search": "Buscar:",
        "zeroRecords":    "No se encuentran registros",
        "paginate": {
            "first":      "Primero",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior"
        },
        "emptyTable":     "No hay registros para mostrar",
        "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
        "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
      },
      "buttons": [
      {
        extend: "copy", text: "Copiar"
      },
      {
        extend: "csv", text: "Excel"
      },
      {
        extend: "pdf"
      },
      {
        extend: "print", text: "Imprimir"
      },
      {
        extend: "colvis", text: "Columnas visibles"
      }]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });



</script>

{% endblock js %}
