{% extends 'home.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6 mx-auto">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Subir nuevo archivo</h3>
        </div>
        <div class="card-body">
            <form action="{% url 'app:subir_archivo' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
<!--                <div class="form-group">
                    <label for="inputNombre">Nombre</label>
                    {{form.nombre}}
                </div>
                <div class="form-group">
                    <label for="inputFono">Subir</label>
                    {{form.directorio}}
                </div>-->
                <div class="col">
                    <a href="{% url 'app:archivo' %}" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Subir" class="btn btn-success float-right">
                </div>
            </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
        
    </div>
    </div>
    

{% endblock content %}

{% block js %}

<script>

  //var uploadField = document.getElementById("directorio");

  //uploadField.onchange = function() {
  //    if(this.files[0].size > 2097152){
  //       alert("File is too big!");
  //       this.value = "";
  //    };
  //};

  $('#directorio').on('change', function() {
    console.log('This file size is: ' + this.files[0].size / 1024 / 1024 + "MiB");
    if(this.files[0].size / 1024 / 1024 > 5){
      Swal.fire(
      'No se puede subir el archivo',
      'El peso del archivo no puede superar los 5 mb',
      'error'
    )
    this.value = "";
    }
  });

</script>

{% endblock js %}



{% comment %} <form method="POST">
{% csrf_token %}
Nombre: {{form.nombre}}
<br>
Apellido Paterno: {{form.apellidoPaterno}}
<br>
Apellido Materno: {{form.apellidoMaterno}}
<button type="submit">Agregar</button>
</form> {% endcomment %}