{% extends 'home.html' %}

{% block content %}

    <center>
<div> <class="nosotros">
    <h2><span style="color: #021561">Sobre nosotros</h2>
        <h4><p aligh="center"></p>Te damos la más cordial bienvenida a nuestro sitio web.
            Somos los Soldados de la Cruz de Cristo, una Iglesia que guarda los mandamientos de Dios y la fe de Jesús.
            Desde 1922, estamos comprometidos en predicar el evangelio a todos, llenando la tierra del conocimiento de Dios. 
            Conéctate y descubre más de Cristo aquí</h4></br>
</div>

<div> <h2 class="mision"><span style="color: #021561">Nuestra Misión</h2>
        <h4><p aligh="center"></p><strong>San Mateo 28:19,20</strong></h4>
            <h4>Predicar el evangelio para que las personas conozcan a Dios 
                y tengan un encuentro personal 
                con Él a través del Espíritu Santo, vivan de acuerdo a 
                sus mandamientos, 
                amen a sus prójimos y sirvan al 
                mundo como representantes de Cristo.</h4></br>
</div>

<div> <h2 class="vision"><span style="color: #021561">Nuestra Visión</h2>
        <h4><p aligh="center"></p><strong>Habacuc 2:14</strong></h4>
            <h4>Llenar la tierra con el conocimiento de Dios, 
                comenzando por nuestro hogar hasta llegar a otros continentes.
                Conduciendo las almas bajo los conceptos de santidad por 
                medio de la obra del Espíritu Santo, preparándonos para 
                recibir al Señor en su segunda venida e ir a 
                vivir con Él por la eternidad.</h4></br>
</div>

<div> <h2 class="directora"><span style="color: #021561"> Mensaje de la directora</h2>
    <h4><p aligh="center"></p> is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker 
        including versions of Lorem Ipsum</h4>
</div>
</center>
<p id="footercopy">Todos los derechos reservador por Rody, 2022 </p>

{% endblock  %}