{% extends 'home.html' %}

{% load static %}

{% block libs %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Resumen de la ultima clase</h1>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-9">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Puntajes de la ultima clase {% if fecha != "None" %}{{fecha}}{% endif %}</h3>
                  <a href="{% url 'tareas:resumen' %}">Ver todos los resumenes</a>
                </div>
              </div>
              <div class="card-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      {% if request.user.id_tipo_usuario.id == 1 %}<th>Alumno</th>{% endif %}
                      
                      {% for c in columnas %}
                      <th>{{c}}</th>
                      {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                      {% if request.user.id_tipo_usuario.id == 3 %}

                        <tr>
                            <td class="text-center"> 
                              {% if usuarioasistencia__tipo_asistencia__puntaje %} 
                                {{usuarioasistencia__tipo_asistencia__puntaje}}
                              {% else %}
                                0
                              {% endif %} 
                            </td>
                          
                          {% for p in puntajeList %}
                            <td class="text-center">{% if p %} {{p}} {% else %} 0 {% endif %}</td>
                          {% endfor %}
                          
                            <td class="text-center">{{puntajeEv}}</td>
                          
                        </tr>


                      {% else %}

                        {% if alumnos %}
                          {% for nombre,apellido_paterno,apellido_materno,usuarioasistencia__tipo_asistencia__puntaje, puntajeList in alumnos %}
                      
                          <tr>
                              <td>{{nombre}} {{apellido_paterno}} {{apellido_materno}}</td>
                              <td class="text-center font-puntajes"> 
                                {% if usuarioasistencia__tipo_asistencia__puntaje %} 
                                  {{usuarioasistencia__tipo_asistencia__puntaje}}
                                {% else %}
                                  0
                                {% endif %} 
                              </td>
                            
                              {% for p in puntajeList %}
                            
                                <td class="text-center font-puntajes">{% if p %} {{p}} {% else %} 0 {% endif %}</td>
                              {% endfor %}
                            
                          </tr>
                          {% endfor %}
                        
                        {% else %}
                        
                            {% for nombre,apellido_paterno,apellido_materno,puntajeEv in alumnosEv %}
                            <tr>
                              <td>{{nombre}} {{apellido_paterno}} {{apellido_materno}}</td>
                                  <td class="text-center font-puntajes"> 
                                    {% if puntajeEv %} 
                                      {{puntajeEv}}
                                    {% else %}
                                      0
                                    {% endif %} 
                              </td>
                            </tr>
                            {% endfor %}
                          
                        {% endif %}

                  

                      {% endif %}
                    </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->

            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Ultimo foro creado</h3>
                  <a href="{% url 'foro:foros' %}">Ver todos los foros</a>
                </div>
              </div>
              <div class="card-body table-responsive">
                <div class="card">
                  <div class="card-header d-flex align-items-center">
                    {% if foro %}
                    <h3 class="card-title">{{foro.titulo}}</h3>
                    {% else %}
                    Aún no se han creado foros
                    {% endif %}
                  </div>
                  <div class="card-body border rounded commentsts">
                      {{foro.descripcion | safe}}
                      {% if foro %}
                      <a class="btn btn-info btn-flat botones-header" href="{% url 'foro:foro_details' foro.id %}">Ver respuestas</a>

                      {% else %}
                      ...
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-3">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Ultimo archivo subido</h3>
                  <a class="text-center" href="{% url 'app:archivo' %}">Ver todos los archivos</a>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column">
                    <div class="p-2 m-1 text-break">
                      <div class="font-weight-bold">Archivo:</div>
                      <div class="">{% if archivo %}{{archivo.nombre}} {% else %}Aún no se han subido archivos {% endif %}</div>
                    </div>
                    <div class="p-2 m-1">
                      <div class="font-weight-bold">Fecha:</div>
                      <div class="">{{archivo.fecha | date:"d/m/Y"}}</div>
                    </div>
                  </div>
                  <div class="ml-auto d-flex flex-row align-items-center">
                    <div class="d-flex flex-column btn">
                      <a type="button" class="btn btn-outline-info" {% if archivo %} href="/media/{{archivo.directorio}} {% endif %} ">
                        <i class="fas fa-file-download text-center" style="font-size: 50px"></i>
                        <div>Descargar</div>
                      </a>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Ultima notificación enviada</h3>
                  <a class="text-center" href="{% url 'app:notificacion' %}">Ver todo</a>
                </div>
              </div>
              <div class="card-body">
                <div class="card p-2">
                  {% if notificacion %}
                  <div class="p-2">Enviado por {{notificacion.enviado_por}}</div>
                  <div class="p-2">Fecha: {{notificacion.fecha | date:"d/m/Y - H:i"}}</div>
                  <div class="p-2">Asunto: {{notificacion.asunto}}</div>
                  <a class="p-2" href="{% url 'app:notificacion_details' notificacion.id %}">Ver notificación completa</a>

                  {% else %}
                  Aún no se ha creado una notificación
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->


{% endblock  %}

{% block js %}
<!-- DataTables  & Plugins -->
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/jszip/jszip.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Page specific script -->

<script>

  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false, "ordering": false,
      "pageLength": 4,
      "language": {
        "processing":     "Procesando...",
        "infoEmpty":      "Mostrando 0 a 0 de 0 registro",
        "infoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "search": "Buscar:",
        "zeroRecords":    "No se encuentran registros",
        "paginate": {
            "first":      "Primero",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior"
        },
        "emptyTable":     "No hay registros para mostrar",
        "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
        "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
      },
    })
  });
</script>

{% endblock js %}