{% extends 'authenticate/base.html' %}

{% block content %}

<p class="login-box-msg">Ingresa los datos para iniciar sesión</p>

      <form action="" method="post" id="loginForm">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="Ingresa el correo" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Ingresa la contraseña" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mb-1">
        <a href="{% url 'app:custom_password_reset' %}">Olvidé mi contraseña</a>
      </p>

{% endblock content %}