{% extends 'home.html' %}
{% load static %}

{% block libs %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de notificaciones</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <a class="btn btn-primary mb-2" href="{% url 'app:crear_notificacion' %}">Crear nueva notificacion</a>
            <br>

            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Descripcion</th>
                <th>Alumno</th>
                <th>Fecha</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
                {% for notificacion in notificaciones %}
                <tr>
                  <td>{{notificacion.texto}}</td>
                  <td>{{notificacion.id_usuario}}</td>
                  <td>{{notificacion.fecha}}</td>
                    <td class="text-center">

                      <div class="row justify-content-center">
                        <form action="{% url 'app:notificacion_delete' notificacion.id %}" method="POST" id="deleteForm">
                          {% csrf_token %}
                          <a class="btn btn-danger btn-sm" href="#" onclick="eliminarNotificacion({{notificacion.id}})">
                              <i class="fas fa-trash">
                              </i>
                            </a>
                        </form>
                        <div>
                    </td>
                </tr> 
                {% endfor %}
              </tbody>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->

{% endblock %}


{% block js %}
<!-- DataTables  & Plugins -->
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/jszip/jszip.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{%static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- Page specific script -->

<script>

  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "language": {
        "processing":     "Procesando...",
        "infoEmpty":      "Mostrando 0 a 0 de 0 registro",
        "infoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "search": "Buscar:",
        "zeroRecords":    "No se encuentran registros",
        "paginate": {
            "first":      "Primero",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior"
        },
        "emptyTable":     "No hay registros para mostrar",
        "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
        "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
      },
      "buttons": [
      {
        extend: "copy", text: "Copiar"
      },
      {
        extend: "csv"
      },
      {
        extend: "pdf"
      },
      {
        extend: "print", text: "Imprimir"
      },
      {
        extend: "colvis", text: "Columnas visibles"
      }]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });


  
</script>

<script>
  function eliminarNotificacion(id){
    event.preventDefault();
    var url = "{% url 'app:notificacion_delete' 123 %}";
    console.log(id)
    Swal.fire({
      title: '¿Estas seguro de eliminar la notificacion?',
      text: "No se podra deshacer!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, eliminar!',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById('deleteForm').setAttribute('action',url.replace('123',id));
        document.querySelector('#deleteForm').submit();
        //window.location.href = url.replace('123', id);
      }
    })
}

</script>

<script>
  {% for message in messages %}
    Swal.fire(
      'Actualizado!',
      '{{message}}',
      'success'
    )
  {% endfor %}
</script>

{% endblock  %}